@import "./variables";

.img-about{
    max-width: 550px;
    box-shadow: $box-shadow;
}

.container-text{
    margin-left: 2em;
}

.container{
    .list-info-about{
        list-style: none;

        li{
            margin-bottom: 0.8em;
            font-weight: 400;
        }
    }

    .card-services{
        box-shadow: $box-shadow;

        .card-img-top{
            padding: 1em;
            max-width: 120px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    .container-text{
        margin-top: 1em;
    }

    .container{
        .list-info-about{
            text-align: center;
        }
    }
}