@import "./variables";


.wrapper-contact{
    // height: calc(100vh - 120px);
    overflow: hidden;
}

.form-contact{
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: $box-shadow-little;
}

.div-contact{
    display: block;
}

.img-contact{
    max-width: 80%;
}

@media (max-width: 767px) {
    .div-contact{
        display: none;
    }
}

