@import "./variables";

.form-contact{
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: $box-shadow-little;
}

.div-contact{
    display: block;
}

.img-contact{
    max-width: 80%;
}


// @media (min-width: 800px) {
//     .div-contact{
//         display: none;
//     }
// }

@media (max-width: 767px) {
    .div-contact{
        display: none;
    }
}