@import "./variables";

.portfolio {
  .card-portfolio {
    img {
        transition: 1s;
        min-height: 282px;
      &:hover {
        filter: opacity(0.6);
        transition: 1s;
      }
    }
    &:hover{
      box-shadow: $box-shadow;
      transition: 1.5s;
    }
  }
}
