.section2 {
  display: flex;
  height: 100vh;
  /* flex-wrap: wrap; */
}

.section2 img{
  max-width: 260px;
}

.about__info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.5em;
  /* border: 1px solid; */
}

.about__info .container h1,
.about__info .container p {
  text-align: center;
}

.about__info .container h1 {
  color: #e28086;
}

.about__info .container .list {
  padding-top: 2em;
  list-style-type: none;
}

.about__info .container .list .about__item {
  padding: 0.35em;
}

.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}

.about__image img {
  width: 70%;
}

.btn {
  border: none;
  margin: 1em;
  padding: 0.35em;
  border-radius: 0.35em;
}

.btn-primary {
  color: aliceblue;
  background-color: #0a66c2;
}

.btn-primary:hover {
  color: aliceblue;
  background-color: #1196f5;
  transition: 0.3s;
}

.btn-submit {
  background-color: salmon;
  color: #fff;
  transition: 0.3s;
}

.container {
  padding: 1em auto;
}

@media (min-width: 0px) {
  .section2 {
    flex-direction: column;
    padding: 1em;
  }

  .list {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .section2 {
    flex-direction: column;
  }

  .list {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .section2 {
    flex-direction: row;
  }

  .list {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .section2 {
    flex-direction: row;
  }

  .list {
    text-align: left;
  }
}