.img-about{
  width: 350px;
}

.container ul{
  list-style: none;
  text-decoration: none;
}

.container ul li{
  text-align: left;
}

.btn-download{
  color: white;
  background-color: #fc2f62 !important;
  border: none;
}

.btn-download:hover{
  color: white;
  background-color: #b11f44 !important;
  border: none;
}

.mi-sectiontitle {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.mi-sectiontitle h2 {
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.service-container{
  margin-top: 5em;
}

.service{
  margin: 1em;
}
